@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
}

body {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 300px;
    width: 300px;
    position: relative;
    transform: scale(1);
    visibility: hidden;
}

.circle {
    background-color: #010f1c;
    opacity: 0.7;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/*.pointer {
    background-color: #fff;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: block;
}*/

.pointer-container {
    position: absolute;
    top: -40px;
    left: 140px;
    width: 20px;
    height: 190px;
    animation: rotate 7.5s linear forwards infinite;
    transform-origin: bottom center;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.container.grow {
    animation: grow 5s linear forwards;
}

@keyframes grow {
    from {
        transform: scale(.8);
    }

    to {
        transform: scale(1.2);
    }
}

.container.shrink {
    animation: shrink 5s linear forwards;
}

@keyframes shrink {
    from {
        transform: scale(1.2);
    }

    to {
        transform: scale(.8);
    }
}

.music-container {
    background-color: #fafafa;
    opacity: 0.4;
    border-radius: 15px;
    box-shadow: 5px 5px 7px 1px rgba(0, 0, 0, 0.2);
    padding: 10px;
    position: relative;
}

.music-container:hover {
    opacity: 0.7;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    color: #61677C;
    border-radius: 15px;
    box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #fff;
    width: 100%;
    box-sizing: border-box;
    -webkit-appearance: none;
    padding: 7px;
}

.action-btn {
    background-color: #fff;
    border: 0;
    color: #dfdbdf;
    font-size: 15px;
    cursor: pointer;
    padding: 10px;
    margin: 0 15px;
}

.action-btn.action-btn-big {
    color: #cdc2d0;
    font-size: 20px;
}

.action-btn:focus {
    outline: 0;
}

#icon {
    color: #fafafa;
}

.action-btn {
    background-color: #fafafa;
}

#video-bg {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

#title {
    z-index: 1;
}

#text {
    font-size: 2rem;
}

@media screen and (max-width: 800px) {

    .container {
        width: 250px;
        height: 250px;
    }

    .pointer-container {
        position: absolute;
        top: -70px;
        left: 115px;
        width: 20px;
        height: 190px;
        animation: rotate 7.5s linear forwards infinite;
        transform-origin: bottom center;
    }

    .container.grow {
        animation: grow 3s linear forwards;
    }

    @keyframes grow {
        from {
            transform: scale(.5);
        }

        to {
            transform: scale(.7);
        }
    }

    .container.shrink {
        animation: shrink 3s linear forwards;
    }

    @keyframes shrink {
        from {
            transform: scale(.7);
        }

        to {
            transform: scale(.5);
        }
    }
}